/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/framework/.gitignore
/storage/framework/views/*
/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
.env
.env.backup
.env.production
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer.exe
install-composer.php
composer-config.json
/cache/*
!/cache/.gitignore
/.fleet
/.idea
/.nova
/.vscode
/database/database.sqlite
